PORT=3001
NODE_ENV=production

API_PUBLIC_URL=xxxxxxx
FRONTEND_URL=xxxxxx

DISCORD_CLIENT_ID=xxxxxxxxxxxxxxxx
DISCORD_CLIENT_SECRET=xxxxxxxxxxxxxxxx
DISCORD_REDIRECT_URI=https://xxxxx/auth/discord/callback

DATABASE_URL=postgres://user:pass@host:5432/dbname

TURNSTILE_SECRET_KEY=0xXXXXXXXXXXXXXXXXXXXX

INTERNAL_BOT_SECRET=super-secret-string

# ✅ CORS ต้องมี (แก้ Failed to fetch / preflight)
CORS_ORIGINS=http://localhost:5173

# ✅ สำคัญ: ให้ API ใส่ role ได้
DISCORD_BOT_TOKEN=xxxxxxxxxxxxxxxx
